.background {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  width: 100%;
  background-color: #8ddeda;
  @media (--tablet-lg) {
    position: absolute;
    height: 600px;
    padding-top: 80px;
  }
  @media (--tablet) {
    height: 400px;
  }
}

/* Overlay
==================================================== */
.background__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  @media (--tablet-lg) {
    display: none;
  }
}
.overlay-mobile {
  position: absolute;
  width: 100%;
  top: -5vw;
}

/* illustration
==================================================== */
.background__illustration-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.background__svg {
  position: absolute;
  bottom: 0;
  --height: calc(0.64 * 100vw);
  height: calc(0.64 * 100vw);
  width: auto;
  transform: translateX(30vw);
  @media (--tablet-lg) {
    transform: scaleZ(0.5) translateX(-35vw) translateY(5vw);
    height: calc(1.15 * 100vw);
  }
}

path,
g {
  transform-origin: center;
  transform-box: fill-box;
}
