.background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  @media (--tablet-lg) {
    position: relative;
    height: 400px;
    padding-top: 80px;
  }
}

/* Overlay 
==================================================== */
.background__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  @media (--tablet-lg) {
    display: none;
  }
}

/* illustration 
==================================================== */
.background__illustration-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.background__svg {
  height: 100%;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  @media (--tablet-lg) {
    transform: scale(3) translateY(-14%) translateX(20%);
  }
}

@media (--tablet) {
  .background {
    background-color: #000;
    position: relative;
    height: 300px;
  }

  .background::after {
    background: none;
  }
}
