/* КИРИЛЛ С POST CSS Теперь стили сложно читать, незнаю как ты но у меня дискомфорт от этого зрелища */

/* ОСНОВНЫЕ СТИЛИ  */
.navbar {
  width: 100%;
  background-color: #fffaeb;
  position: fixed;
  z-index: 1001;
  top: 0;
  padding: 15px 0;

  @media (--tablet-lg) {
    background-color: rgba(0, 0, 0, 0);
    padding: 25px 0;
  }
  @media (--mobile) {
    padding: 15px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    @media (--tablet-lg) {
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 0;
      padding-left: calc(var(--gs) * 3);
    }
  }

  /* ======================= Наименование страницы ================================*/
  &__pageTitle {
    color: #c99072;
    margin-left: 14px;
    animation: navbarTitleMove 0.3s ease-in-out;

    @media (--mobile) {
      font-size: 18px;
    }
  }

  /* ======================= ЛОГОТИП =============================================*/
  &__logo {
    max-width: 220px;
    flex: 1 0 100px;
    height: auto;
    margin-right: 30px;

    @media (--tablet-lg) {
      position: absolute;

      left: 50%;
      display: block;
      width: 54px;
      height: 37px;
      transform: translateX(-50%) translateY(-5px);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  /* ========================ГРУППА ОСНОВНЫХ ССЫЛОК============================== */
  &__wrapper {
    @media (--tablet-lg) {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      min-height: 322px;
      width: 35vw;
      min-width: 150px;
      transform: translateX(-100%) rotate(-13deg) scale(1.07);
      background: url("../../img/navbar/bg_nav.svg") no-repeat;
      background-position: 0% 0%;
      background-size: cover;
      transition: transform 0.4s ease-in-out;
      padding-top: 75px;
      padding-left: calc(var(--gs) * 3);
      transform-origin: right bottom;
    }

    @media (--mobile) {
      width: 240px;
      /* top: -15px; */
    }

    &.open {
      @media (--tablet-lg) {
        transform: translateX(0%) rotate(0deg) scale(1);
      }
    }
  }

  &__list {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;

    @media (--tablet-lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  /* ======================== Стили для ССЫЛОК============================== */
  &__item {
    margin-right: 30px;
    user-select: none;

    &:last-child {
      margin-right: 0;
    }

    @media (--tablet-lg) {
      margin-right: 0;
      margin-bottom: calc(var(--gs) * 0.5);
    }
  }

  &__link {
    font-size: 30px;

    @media (--desktop) {
      font-size: 24px;
    }

    @media (--mobile-lg) {
      font-size: 20px;
    }

    &.router-link-exact-active {
      color: var(--cl-brown);
    }
  }

  &__fond-img {
    display: none;
    width: 80px;
    height: 75px;

    @media (--tablet-lg) {
      display: block;
      position: absolute;
      bottom: 24px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
/* ======================== SVG задник================================= */
.navbar__topBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
}
@keyframes navbarTitleMove {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
