*{
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 200px;
    background-color: var(--cl-beige);
    background: url('../../assets/img/Header/BG.svg') no-repeat;
    background-position: top left;
    background-size: cover;
}
.main__section {
    padding-top: 160px;
    padding-left: 70px;
    width: 40%;
}

.main__title {
    margin-bottom: 25px;
}

.main__description {
    margin-bottom: 45px;
    font-size: 20px;
}

.main__links{
    display: flex;
}

.main__links li{
    margin-right: 28px;
}

.main__links a{
    font-size: 23px;
    color: var(--cl-grey);
    border-bottom: 1px solid var(--cl-grey);
}

@media (max-width:1023px) {
    .main {
        margin-top:50%;
        width: 100%;
        background-color: var(--cl-beige);
        background-color: burlywood;
        position: relative;
    }

    .main__section{
        padding: 35px 0px;
        width: 100%;
    }

    .main__links{
        order: 1;
    }
}
