/* CONTACT
================================================ */
.container--contact {
  animation: fade-left 0.75s ease-in-out;
  @media (--tablet-lg) {
    animation: fade-to-top 1s ease;
  }
}
.container--contact-exit {
  animation: fade-right 0.75s ease-in-out;
  @media (--tablet-lg) {
    animation: fade-to-top 0.7s ease;
  }
}

.contactForm {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 70px 135px 70px;

  @media (--tablet-lg) {
    display: flex;
    flex-direction: column;
    padding: 0 0px 135px 0px;
  }
}
/* ================================================ */
/* FORM BOX */
/* ================================================ */
.contactForm__box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;
  padding-left: 65px;
  @media (--tablet-lg) {
    padding-left: 0;
    width: 100%;
  }
}
.contactForm__box:first-of-type {
  padding-right: 65px;
  @media (--tablet-lg) {
    padding-right: 0;
  }
}
/* ================================================ */
/*  FORM ITEM 
/* ================================================ */
.contactForm__item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
/* ================================================ */
/*  FORM INPUT AND TEXTAREA
/* ================================================ */
textarea:focus,
input:focus {
  outline: none;
}
.contactForm__input {
  height: 40px;
}
.contactForm__input,
.contactForm__textarea {
  background-color: #fffefb;
  color: #000;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
  font-family: var(--base-font);
  font-size: var(--fs-p);
  padding-left: 10px;
}

.contactForm__textarea {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  resize: none;
  min-height: 250px;
}
.contactForm__input.invalid,
.contactForm__textarea.invalid {
  border: 1px solid #c23232;
}
.contact__text.invalid {
  color: #c23232;
}
.contactForm__input.correct,
.contactForm__textarea.correct {
  border: 1px solid #349a8a;
}
.contact__text.correct {
  color: #349a8a;
}
/* ================================================ */
/*  FORM LABEL 
/* ================================================ */
.contact__text {
  margin-bottom: 10px;
  color: #7e7e7e;
  font-size: 15px;
  width: 100%;
}
.importand-field {
  position: relative;
}
.importand-field::after {
  content: "*";
  position: absolute;
  right: 0;
  top: 0;
  color: #c99072;
}
.contact__text.invalid.importand-field::after {
  color: #c23232;
}

/* ==============================================*/
/* ==================== SELECT ==================*/
/* ==============================================*/
.select {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
}
.select option {
  border: 1px solid #dedede;
  color: #959595;
  padding: 6px 18px;
}
.select option:hover {
  background: #000;
}
/* ==============================================*/
/* ==================== Button ==================*/
/* ==============================================*/
.contactForm__submit-button {
  position: absolute;
  right: -27px;
  bottom: -25px;
  background: #349a8a;
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  color: #efefef;
  text-transform: uppercase;
  @media (--tablet-lg) {
    width: 125px;
    height: 42px;
    right: 0;
    bottom: 0px;
    transform: translateY(50%);
  }
}
.contactForm__submit-button span {
  position: relative;
}
.contactForm__submit-button span::after {
  content: "";
  position: absolute;
  right: -15px;
  width: 7px;
  height: 14px;
  background: url("../../img/Contact/Sent_Arrow.svg") no-repeat;
  background-position: center;
  background-size: contain;
}
/* Placeholder */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bcbcbc;
  font-size: var(--fs-p);
  font-family: var(--base-font);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bcbcbc;
  font-size: var(--fs-p);
  font-family: var(--base-font);
}

@media (--tablet-lg) {
  .contactForm {
    display: flex;
    flex-direction: column;
  }
  .contactForm__box {
    width: 100%;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-60%);
    opacity: 0;
  }
}
@keyframes fade-to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
