.section__contact {
  @media (--tablet-lg) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fffaeb;
  }
}

.contactForm {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 70px;
  padding-bottom: 135px;
  input {
    background-color: #fffefb;
    height: 40px;
    padding-left: 10px;
    color: #bcbcbc;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    font-family: var(--base-font);
    margin-bottom: 31px;
  }

  label {
    color: #7e7e7e;
  }
  textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    padding: 22px 10px;
    color: #bcbcbc;
    font-size: 20px;
  }
}
.contactForm__box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.contactForm__box:first-of-type {
  padding-right: 65px;
  @media (--tablet-lg) {
    padding-right: 0;
  }
}
.contactForm__box:last-of-type {
  padding-left: 65px;
  @media (--tablet-lg) {
    padding-left: 0px;
  }
}
.contact__text {
  margin-bottom: 10px;
  color: #7e7e7e;
  font-size: 15px;
}
/* ==============================================*/
/* ==================== SELECT ==================*/
/* ==============================================*/
.select {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
}
.select option {
  border: 1px solid #dedede;
  color: #959595;
  padding: 6px 18px;
}
.select option:hover {
  background: #000;
}
/* Placeholder */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bcbcbc;
  font-size: var(--fs-p);
  font-family: var(--base-font);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bcbcbc;
  font-size: var(--fs-p);
  font-family: var(--base-font);
}

@media (--tablet-lg) {
  .contactForm {
    display: flex;
    flex-direction: column;
  }
  .contactForm__box {
    width: 100%;
  }
}
