.icon {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    transition: color var(--time) ease, background-color var(--time) ease, border-color var(--time) ease, opacity var(--time) ease;
}
