.link {
    color: var(--cl-grey);
    transition: all var(--time) ease;

        .icon {
            fill: var(--cl-grey);
            transition: all var(--time) ease;
        }

    &:hover {
        color: var(--cl-brown);

        .icon {
            fill: var(--cl-brown);
        }

        .link__buttom-line {
            border-bottom: none;
        }
    }

    &.active {
        color: var(--cl-brown);

        .icon {
            fill: var(--cl-brown);
        }
    }

    &__buttom-line {
        border-bottom: 1px solid var(--cl-grey);

    }

}
