.link {
  color: var(--cl-grey);
  user-select: none;
  transition: all var(--time) ease;
  font-size: var(--fs-a);

  .icon {
    fill: var(--cl-grey);
    transition: all var(--time) ease;
  }
  @media (--tablet) {
    font-size: 18px !important;
  }

  &:hover {
    color: var(--cl-brown);

    .icon {
      fill: var(--cl-brown);
    }

    .link__buttom-line {
      border-bottom: none;
    }
  }

  &.active {
    color: var(--cl-brown);

    .icon {
      fill: var(--cl-brown);
    }
  }

  &__buttom-line {
    border-bottom: 1px solid var(--cl-grey);
  }
}
