.navbar {
    width: 100%;
    height: 110px;
    background-color: #fffaeb;
    position: fixed;
    z-index: 1001;
    top: 0;

    @media (--tablet-lg) {
        height: 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        padding-top: 15px;

        @media (--tablet) {
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 0;
        }
    }

    &__logo {
        max-width: 270px;
        flex: 1 0 100px;
        height: auto;
        margin-right: 30px;

        @media (--tablet) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 50px;
            height: 50px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__list {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;

        @media (--tablet) {
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            min-height: 322px;
            width: 30vh;
            min-width: 150px;
            transform: translateX(-100%) rotate(-13deg) scale(1.07);
            /* background: url("../../assets/img/navbar/bg_nav.svg") no-repeat; */
            background-position: 0% 0%;
            background-size: cover;
            transition: transform 1s ease-out;
            padding-top: 60px;
            padding-left: calc(var(--gs) * 3);
            transform-origin: right bottom;
        }
    }

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 30px;

        @media (--desktop) {
            font-size: 24px;
        }

        @media (--tablet-lg) {
            font-size: 18px;
        }
    }
}

/* .navbar__fond-img {
    display: none;
    width: 65px;
    height: 60px;
}

.navbar__fond-img>img {
    width: 100%;
    height: 100%;
} */


/* @media (max-width: 1023px) {

    .navbar__links.open {
        transform: translateX(0%) rotate(0deg) scale(1);
    }

    .navbar__links ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__link {
        font-size: 20px;
    }
    .navbar__fond-img {
        display: block;
        position: absolute;
        bottom: 40px;

    }
}


@media (max-width: 479px) {
    .navbar {
        background: url('../../assets/img/navbar/mobile_bg_top.svg') no-repeat;

        background-size:cover ;
    }
} */
