/* Базовые стили */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: relative;
    vertical-align: top;
    backface-visibility: hidden;
    /* font-family: */
}

main {
    position: relative;
    min-width: var(--mobile-sm-size-min);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;

    /* При использовании LQIP изображениям добавляется blur через фильтры.
    Это правило добавляет им плавное исчезновение при окончании подгрузки изображения. */
    transition: filter 1000ms;
}

a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
    transition: 200ms;

 
}
a:hover{
    text-decoration: none;
}

/* strong,
b {
    font-weight: bold;
    line-height: 20px;

    i,
    em {
        font-weight: bold;
        font-style: italic;
    }
}

em,
i {
    font-style: italic;

    strong,
    b {
        font-weight: bold;
        font-style: italic;
    }
} */

p {
    line-height: 24px;
    margin: 0 0 calc(var(--g) / 4);
}

:--heading {
    margin: calc(var(--g) / 2) 0;

  
}
:--heading:first-child{
    margin-top: 0;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    line-height: 28px;
    font-weight: bold;
}

h4,
h5,
h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

hr {
    background: none;
    border: none;
    border-bottom: 1px solid var(--cl-grey);
    display: block;
    position: relative;
    height: 1px;
    margin: calc(var(--gs) * 3) 0;
    line-height: 0;
    font-size: 0;
}

ul,
ol li {
    position: relative;
    list-style: none outside;
}



a {
    font-family:  'Gost Type A', arial, sans-serif;
}

a.disabled,
a.is-disabled {
    cursor: default;
    pointer-events: none;
}