/* Базовые стили */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: relative;
    vertical-align: top;
    backface-visibility: hidden;
    font-family: var(--base-font);
}

main {
    position: relative;
    min-width: var(--mobile-sm-size-min);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
    transition: var(--time);

 
}
a:hover{
    text-decoration: none;
}

p {
    line-height: 24px;
}

h1 {
    font-size: var(--fs-h1);
    line-height: 1;
    font-family: 'GOST2_304typeA',arial, sans-serif;
    color: var(--cl-brown);
    
}

h2 {
    font-size: var(--fs-h2);
    line-height: 1.1;
    font-weight: bold;
}

h3 {
    font-size: var(--fs-h3);
    line-height: 28px;
    font-weight: bold;
}

h4,
h5,
h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

ul,
ol li {
    position: relative;
    list-style: none outside;
}



a {
    font-family: 'GOST2_304typeA',arial, sans-serif;
    font-size: var(--fs-a);
    
}
p{
    font-family: 'Open Sans Light';
    font-size: var(--fs-p);
}

a.disabled,
a.is-disabled {
    cursor: default;
    pointer-events: none;
}

/* Тестовый кегель для шрифтов */

@media (max-width:var(--desktop-size)){
    h1{

    }

}
@media (max-width:var(--tablet-lg-size)){
    h1{

    }
    p{

    }
}